/deep/ #gridContainer {
    height: 440px;
    width: 100%;
    margin-top: 30px; 
}
/deep/ #descContainer {
    color: #767676;
}
/deep/ #descContainer  a {
    color: #f05b41;
    text-decoration: underline;
    cursor: pointer;
}
/deep/ #descContainer  a:hover { 
    text-decoration: none;
}
