/deep/ #grid {
    position: relative;
}
/deep/ #grid-container {
    height: auto;
    margin-top: 10px;
}
/deep/ #select-prefix {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}
/deep/ .selected-data {
    margin-top: 10px;
}
/deep/ .dark .selected-data {
    color: #a8a8a8;
}