/deep/ #form-demo {
    margin: 10px;
    text-align: center;
}
/deep/ #form-demo > div {
    text-align: left;
}
/deep/ .options {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-left: 20px;
}
/deep/ .options > div {
    margin-top: 25px;
}
/deep/ .form-container {
    display: inline-block;
    width: 100%;
    max-width: 550px;
}
/deep/ #form {
    margin-top: 25px;
    max-width: 550px;
    min-width: 300px;
}