.gallery-container {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 450px;
}

#gallery {
    margin: auto;
}

.options {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.option {
    display: block;
    margin-bottom: 5px;
}