/deep/ .content h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}
/deep/ .option{
    margin-bottom: 10px;
}
/deep/ .content {
    margin-top: 50px;
    margin-left: 10px;
}
/deep/ .selected-item {
    margin-bottom: 20px;
}