#gridContainer {
    height: 440px;
    width: 100%;
}

.internal-grid-container {
    padding: 10px 0 10px 0;
}

.internal-grid-container > div:first-child {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.internal-grid-container > .internal-grid {
    border: 1px solid #d2d2d2;
}
